<section>
    <h2 class="description-text">Create New Post</h2>

    <form action="" class="new-post-form">
        <div>
            <label class="label post-title">Title</label>
            <textarea class="input is-success" placeholder="Title" id="post-title"></textarea>
        </div>
        <div>
            <label class="label post-content">Content</label>
            <textarea class="textarea is-success" placeholder="Hello world" id="post-content"></textarea>
        </div>
        <button class="button is-primary is-outlined post-button">Post</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2 class="description-text">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link button is-warning">Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}


<script src="/javascript/new-post.js"></script>
